.full-width-panel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.full-width-grid {
  height: calc(100% - 50px) !important;
  flex: 1;
  margin: 24px;
}

.ag-react-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}
